<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="../layout/layout.css">
</head>

<body>
    <header>
        <nav>
            <!--creamos los menus de navegación-->
            <ul>
                <li>
                    Home
                </li>
                <li>
                    Otra Pagina
                </li>
            </ul>
        </nav>
        <section>
            <h1>CAJAS</h1>
            <div class="caja" id="caja-1"></div>
            <div class="caja" id="caja-2"></div>
            <div class="caja4" id="caja-3">Lorem ipsum dolor sit amet consectetur adipiscing elit. In tempus adispiscing
                felis, sit ametblandit ipsum volutpat dictum, nisi libero ultricies ipsum in posuere libero mauris neque
                at erat</div>
            <div class="caja" id="caja-4"></div>
            <div class="caja" id="caja-5"></div>
            <div class="caja" id="caja-6"></div>
        </section>
        <br>
        <section>
            <h1>RESULTADOS DE CHAMPIONS LEAGUE</h1>
            <div class="caja5" id="caja-5">BARCELONA 0- BAYERN 3
                >INTER MILAN 1 - REAL MADRID 1
                MANCHESTER CITY 2 - LEIPZIG 1
                LIVERPOOL 3 - MILAN 1
                ATLETICO 2 - OPORTO 0
                1 BORUSSIA DORTMUND 3
                Lorem ipsum dolor sit amet consectetur adipiscing elit. In tempus adispisci felis, sit ametblandit ipsum volutpat dictum, nisi libero ultricies ipsum in posuere li
            </div>
        </section>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>

</html>